---
---

@import '{{ site.theme }}';
@import url('https://fonts.cdnfonts.com/css/tengwar-annatar');

.selected-page,
li > a.selected-page {
	color: $cyberpink;
	&:hover {
		color: $cyberpink;
	}
}

#navigation {
	min-height: 20%;
	max-height: 35%;
}

.navigation-wrapper footer p:last-child {
	margin-top: 0.5rem;
}

font + p {
	display: inline;
}

li:has(font) {
	padding-bottom: 0.25rem;
}

rt {
	user-select: none;
}
