---
---

@import '{{ site.theme }}';

.selected-page,
li > a.selected-page {
	color: $cyberpink;
	&:hover {
		color: $cyberpink;
	}
}

#navigation {
	min-height: 20%;
	max-height: 35%;
}

.navigation-wrapper footer p:last-child {
	margin-top: 0.5rem;
}
