---
---

@import '{{ site.theme }}';
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');

$background-alt: #121821;
$background-code: #393939;
$cyberpink: #ea00d9;
$cybergreen: #0abdc6;

body {
	font-family: Arvo, Monaco, serif;
	background-color: #0d1117;
	line-height: 1.75rem;
}

body,
strong {
	color: white;
}

header {
	float: none;
	position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $cyberpink;
}

nav {
	width: calc(25vw - 100px);
	background-color: $background-alt;
	border-radius: 5px;
	padding: 1rem;
	height: 50%;
	overflow-y: auto;

	& ul {
		padding-left: 1.25rem;
		list-style-type: none;

		& li {
			font-size: 1rem;
			text-transform: none;
			font-weight: normal;

			&:hover {
				font-weight: normal;
			}
		}
	}

	& > ul {
		margin: 0;
		padding-left: 0;

		& > li {
			text-transform: uppercase;
			font-size: 1.1rem;
			font-weight: bold;

			&:hover {
				font-weight: bold;
			}
		}
	}
}

section {
	width: calc(75vw - 100px);
	padding-bottom: 100px;
	scroll-behavior: smooth;
}

footer {
	width: calc(25vw - 100px);
	float: left;
	border-radius: 5px;
	position: fixed;
	height: auto;
	bottom: 20px;
	padding: 1rem;
	background-color: $background-alt;
	border: solid $cyberpink 1px;
	box-shadow: -2px 2px $cybergreen;
}

code {
	background-color: $background-code;
	border-radius: 5px;
	color: $cybergreen;
	font-family: Arvo, Monaco, monospace;
	padding: 3px;
}

footer p {
	margin: 0;
}

a,
a:focus,
a:visited {
	color: #0a9cf5;
	font-weight: unset;

	&:hover {
		color: $cybergreen;
		font-weight: unset;
	}
}

div {
	&.wrapper {
		width: auto;
	}
}

table {
	> thead > tr:first-child,
	> tr:first-child {
		background-color: $cybergreen;

		& > th {
			border: 1px solid darken($cybergreen, 10%);
			color: darken($cybergreen, 35%);
		}
	}

	tr:nth-child(even) {
		background-color: darken($cybergreen, 35%);
		color: white;
	}

	td,
	th {
		border: 1px solid lighten($cybergreen, 30%);
		color: inherit;
	}

	th {
		color: lighten($cybergreen, 55%);
		font-size: 1rem;
	}
}

.alert {
	padding: 0.75rem 1rem;
	border: 1px solid;
	border-left-width: 5px;
	border-radius: 5px;
	margin: 1rem 0;

	& > p {
		margin-bottom: 0;
		&:first-child {
			font-size: 1.25rem;
			display: flex;
			align-items: center;
			border-bottom: solid 1px;
			margin-bottom: 20px;
			padding-bottom: 0.2rem;

			& > svg {
				width: 1.25rem;
				height: 1.25rem;
				margin-right: 0.25rem;
			}
		}

		&:last-child {
			color: white;
		}
	}
}

.note {
	color: rgb(47, 129, 247);
	fill: rgb(47, 129, 247);
	border-color: rgb(47, 129, 247);
}

.tip {
	color: rgb(63, 185, 80);
	fill: rgb(63, 185, 80);
	border-color: rgb(63, 185, 80);
}

.important {
	color: rgb(163, 113, 247);
	fill: rgb(163, 113, 247);
	border-color: rgb(163, 113, 247);
}

.warning {
	color: rgb(210, 153, 34);
	fill: rgb(210, 153, 34);
	border-color: rgb(210, 153, 34);
}

.caution {
	color: rgb(248, 81, 73);
	fill: rgb(248, 81, 73);
	border-color: rgb(248, 81, 73);
}

.navigation-wrapper {
	position: fixed;
	top: 100px;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	height: calc(80vh - 100px - 1rem);
}

a.selecionado,
a.cabecalho-selecionado {
	color: $cyberpink;
}

@media print, screen and (max-width: 960px) {
	header,
	nav,
	footer {
		display: none;
	}
}
